# ─── Ignore everything at the root ──────────────────
/*
# ─── But don’t ignore these ─────────────────────────
!/.gitignore
!/messaging_app/
!/messaging_app/**
!/Django-signals_orm-0x04/
!/Django-signals_orm-0x04/**


# ─── Then ignore common Python/Django cruft anywhere ─
__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
db.sqlite3

media/
*.log

.vscode/
.idea/
